/* @import url('fonts.css'); */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --color-light-blue: #344851;
    --color-dark-blue: #1D292F;
    --color-dark-green: #3E4B3F;
    --color-light-green: #9EA38B;
    --color-orange: #B8643E;
    --color-dark-beige: #E0C9B1;
    --color-light-beige: #F3EADE;
}

body {
    background-color: var(--color-light-beige);
}

.text-light-blue  { color: var(--color-light-blue);  }
.text-dark-blue   { color: var(--color-dark-blue);   }
.text-dark-green  { color: var(--color-dark-green);  }
.text-light-green { color: var(--color-light-green); }
.text-orange      { color: var(--color-orange);      }
.text-dark-beige  { color: var(--color-dark-beige);  }
.text-light-beige { color: var(--color-light-beige); }

.bg-light-blue  { background-color: var(--color-light-blue);  }
.bg-dark-blue   { background-color: var(--color-dark-blue);   }
.bg-dark-green  { background-color: var(--color-dark-green);  }
.bg-light-green { background-color: var(--color-light-green); }
.bg-orange      { background-color: var(--color-orange);      }
.bg-dark-beige  { background-color: var(--color-dark-beige);  }
.bg-light-beige { background-color: var(--color-light-beige); }

.colored-section-bg { background-color: rgba(236, 222, 212, 0.75); }

.border-dark-blue { border-color: var(--color-dark-blue); }
.border-light-green { border-color: var(--color-light-green); }
.border-dark-green { border-color: var(--color-dark-green); }
.border-orange { border-color: var(--color-orange); }
.border-orange-30 { border-color: rgba(184, 100, 62, 0.3); }

.text-shadow-none { text-shadow: none; }
.text-shadow-light { text-shadow: 2px 2px 2px rgba(0,0,0, 0.1); }

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.beige-card {
    background-color: rgba(224, 201, 177, 0.2);
    border: 1px solid rgba(184, 100, 62, 0.2);
    border-radius: 6px;
    padding: 8px 16px;
    /* @apply 'py-2 px-4 rounded-md bg-dark-beige/20 border border-orange/20'; */
}